.pp-container {
    display: flex;
    flex-wrap: wrap;
}

.pp-base {
    width: 80%;
    background-color: lightgray;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
}

.pp-formMain {
    width: 90%;
    display: contents;
}

.MuiFilledInput-underline:after {
    border-bottom: 2px solid #FA5457!important;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54)!important;
}

.leftSide {
    /* background-color: rgba(82, 208, 240, 0.753); */
    flex: 1 1 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
    padding-bottom: 30px;
    max-height: 710px;
}

.rightSide {
    /* background-color: rgba(255, 230, 0, 0.753); */
    flex: 1 1 50%;
    text-align: center;
    margin-top: 8%;
    text-align: center;
    justify-content: center;
}


/* Left side */

.pp-headerMain {
    width: 500px;
    /* align-content: center; */
    background-color: lightgray;
    opacity: 0, 5;
    padding: 30px;
    border-radius: 5px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MuiFilledInput-root {
    background-color: #ffffff !important;
}

@media only screen and (max-width: 768px) {
    .leftSide {
        /* background-color: rgba(82, 208, 240, 0.753); */
        flex: 1 1 100%;
        margin-top: 8%;
    }
    .rightSide {
        /* background-color: rgba(255, 230, 0, 0.753); */
        flex: 1 1 100%;
        text-align: center;
        margin-top: 3%;
    }
}


/* Right Side */

.search-container {
    padding-bottom: 30px;
}

.searchBtn {
    padding: 7px 7px;
    margin-top: 7px;
    margin-right: 8px;
    background-color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    width: 38px;
    position: relative;
    height: 38px;
    top: -1px;
    right: 40px;
}

.searchStyle {
    width: 107%;
}

.searchBtn:hover {
    background: #75B1A9;
}

.searchField {
    font-size: 23px;
    padding: 8px;
    border-radius: 30px 30px 30px 30px;
    border: none;
    background-color: lightgray;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.courses-done {
    height: 710px;
    overflow: auto;
}