.pp-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
}

.pp-base {
    width: 80%;
    background-color: lightgray;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 70px;
}

.MuiFilledInput-underline:after {
    border-bottom: 2px solid #FA5457!important;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54)!important;
}

.leftSide {
    flex: 1 1 50%;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 11%;
    /* padding-bottom: 30px;
    max-height: 710px; */
    height: 850px;
    text-align: -webkit-center;
    color: #75B1A9;
    font-size: 20px;
}

.leftSide h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.rightSide {
    flex: 1 1 50%;
    text-align: center;
    margin-top: 11%;
    text-align: center;
    justify-content: center;
    height: 800px;
    overflow: auto;
}


/* Left side */

.pp-headerMain {
    width: 500px;
    background-color: lightgray;
    padding: 30px;
    border-radius: 5px;
}

.pp-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MuiFilledInput-root {
    background-color: #ffffff !important;
}

@media only screen and (max-width: 768px) {
    .leftSide {
        flex: 1 1 100%;
        margin-top: 22%;
    }
    .rightSide {
        flex: 1 1 100%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 22%;
    }
}


/* Right Side */

.search-container {
    /* padding-bottom: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
}

.searchBtn {
    padding: 7px 7px;
    background-color: #75B1A9;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 38px;
    position: absolute;
    height: 37px;
    right: 3px;
}

.searchStyle {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn:hover {
    background: #75B1A9;
}

.MuiFormControl-root .searchField {
    font-size: 23px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 30px 30px 30px 30px;
    border: none;
    background-color: lightgray;
    width: 100%;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.searchBarWrapper {
    width: 85%;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search:focus,
input:focus {
    outline: none;
}

.rightSide .profileCourseCardMain {
    margin: 10px auto;
    width: 85%;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
}