.tableSelectContainer{
    display:flex;
    flex-direction: column;
}

.chip-body{
    height: 100%!important;
  }
  
  .input-box {
    width: 70vw!important;
  }
  
  .search-result{
    width:70vw!important;
  }
  