.filterMain {
    margin-top: 15px;
    text-align: center;
}

.filterBtn {
    font-size: 1.3rem;
    font-weight: 700;
    width: 75%;
    text-align: left;
    color:#828282;
    border: none;
}

.filterRow {
    margin-top: 15px;
}

.filterTop{
    margin-bottom: 15px;
}

.filterInput{
    width: 23%;
    height: 2%;
    margin-left: 0.5%!important;
    margin-right: 0.5%!important;
}

.MuiOutlinedInput-input{
    padding: 10px 14px!important;
}

.MuiTypography-body1 {
    font-size: 1.2rem!important;
}

.MuiInputLabel-formControl {
    top: -2px!important;
}

// PLACEHOLDER WITHIN THE FILTERS
.MuiInputLabel-outlined{
    // font-size: 0.9rem!important;
    line-height: 20%!important;
}
// PLACEHOLDER WITHIN THE FILTERS

.MuiTypography-body1{
    color: #828282;
    font-weight: bold!important;
}

// SELECT/DROPDOWN STYLING
label + .MuiInput-formControl {
    margin-top: 0px!important;
}

#categoryLabel{
    top: -13px!important;
    left: 10px!important;
}

.MuiSelect-icon{
// RELATIVE POSITION ALLOWS FOR ALIGNING THE SELECT ARROW PROPERLY
    position: relative!important;
}

.MuiCheckbox-colorPrimary.Mui-checked{
    color: #75B1A9!important;
}

.MuiFormLabel-root.Mui-focused{
    color: #75B1A9!important;
}

.MuiOutlinedInput-root.Mui-focused
.MuiOutlinedInput-notchedOutline {
    border-color: #75B1A9!important;
}

.MuiInput-underline:after{
    border-bottom: #75B1A9!important;
}

.MuiInputBase-root{
    line-height: 1.3em!important;
    font-size: 1.2rem!important;
}

.MuiFormLabel-root{
    font-size: 1.2rem!important;
}

.MuiMenuItem-root{
    font-size: 1.2rem!important;
}

@media only screen and (max-width: 768px) {
    .filterMain {
        margin-top: 15px;
    }
    
    .filterTop{
        margin-bottom: 15px;
        display:flex!important;
        flex-direction: column!important;
        align-items: center;
    }

    .filterBottom {
        margin-bottom: 15px;
        display:flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }

    // .filterCheckboxesContainer{
    //     display:flex!important;
    //     flex-direction: column!important;
    //     align-items: flex-start!important;    
    // }

    .filterInput{
        width: 70%;
        height: 2%;
        margin-top:3%!important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #categoryLabel{
        top: -7px!important;
        left: 10px!important;
    }

    .checkboxInput{
        margin-top:0%!important;
        margin-left: 0!important;
    }

    .MuiOutlinedInput-input{
        padding: 10px 14px!important;
    }
    
    // PLACEHOLDER WITHIN THE FILTERS
    .MuiInputLabel-outlined{
        // font-size: 0.9rem!important;
        line-height: 20%!important;
    }
    // PLACEHOLDER WITHIN THE FILTERS
    
    .MuiTypography-body1{
        color: #828282;
        font-weight: bold!important;
    }
    
    // SELECT/DROPDOWN STYLING
    label + .MuiInput-formControl {
        margin-top: 0px!important;
    }
    
    #categoryLabel{
        line-height: 0;
    }
    
    .MuiCheckbox-colorPrimary.Mui-checked{
        color: #75B1A9!important;
    }
    
    .MuiFormLabel-root.Mui-focused{
        color: #75B1A9!important;
    }
    
    .MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
        border-color: #75B1A9!important;
    }
    
    .MuiInput-underline:after{
        border-bottom: #75B1A9!important;
    }
    
    .MuiInputBase-root{
        line-height: 1.3em!important;
    }
}