$widthMobile: 768px;
$widthTablet: 1280px;

body {
    margin:0;
    padding: 0;
}

.headerContainer {
    margin: 0 auto;
    margin-top: 7%;
    width: 100%;
    text-align: center;
}

.container {
    cursor: auto!important
}

.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.1em;
    box-sizing: border-box;
    margin-bottom: 5%!important;
}

.titleWelcome {
    padding-top: 1%;
    font-size: 3.9rem;
    color: #75B1A9;
    text-align: center;
}

.subtitleWelcome {
    margin: 0.625rem;
}

@media only screen and (max-width: 540px) {
    .headerContainer {
        margin-top: 12%;
    }

    .titleWelcome {
        padding-top: 5%;
    }
}

@media only screen and (max-width: 700px) {
    .headerContainer {
        padding-top: 0;
    }

    .titleWelcome{
        padding-top: 5%;
        font-size: 3.9rem;
        color: #75B1A9;
        text-align: center;
    }
}