$widthMobile: 768px;
$widthTablet: 1280px;


.headerContainer {
    margin: 0 auto;
    margin-top: 7%;
    width: 100%;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 5%!important;
}

.titleWelcome {
    margin: 3.5rem 0 0;
}

.subtitleWelcome {
    margin: 0.625rem;
}