body {
    width: 100vw;
}

container-fluid headerMain {
    justify-content: flex-end;
}

.psw {
    padding: 9px;
    font-size: 1.3em;
}

.biblioteca {
    font-size: 2em;
    margin-left: 1em;
    margin-top: 0.9em;
    position: relative;
    display: block;
    flex-direction: row;
}

.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.childrenImage {
    position: relative;
    align-self: center;
    height: auto;
    width: 100%;
}

.form {
    display: flex;
    position: relative;
    transform: translateY(15%);
    margin-right: 5%;
}

.container2 {
    /* padding-top: 16px; */
    padding-bottom: 50px;
    display: grid;
    bottom: 0;
    position: relative;
    margin-top: 2%;
    width: 100%;
}


/* .psw a:link {
    text-decoration: none;
} */

.forgotPasswordAnchor {
    color: blue;
}

.createAccountAnchor {
    color: #75B1A9;
    font-size: 2em;
    /* font-style: bold; */
    /* text-decoration: none; */
    cursor: pointer;
    margin-top: 5px;
    font-weight: 700;
    /* display: flex;
    flex-direction: column;
    position: relative; */
}

.label {
    font-size: 1.3em;
}

.logo {
    font-size: 5em;
    /* height: 2.3em !important; */
}


/* .creareCont {
    text-decoration: none;
} */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

.logInInput {
    width: 544px;
    margin-top: 29px !important;
    font-size: 28px !important;
}

.main header {
    width: 100vw;
    height: 70px;
    background: #75B1A9;
    margin: 0;
    -webkit-box-shadow: 0px 2px 4px grey;
    box-shadow: 0px 2px 4px grey;
}

.headerMain {
    width: 100vw;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
}


/* .headerNav {
    width: 20%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
} */

.logo {
    display: block;
    font-size: 5em;
    text-decoration: none;
    height: 2.3em !important;
}


/* .logoPlaceholder {
    width: 20%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

.logInTitle h1 {
    font-size: 5rem;
    color: #75B1A9;
}

.logInTitle {
    /* width: 544px; */
    margin-top: 29px !important;
    font-size: 28px !important;
}

.signUpBtnContainer {
    margin-top: 40px;
}

.signUpBtnContainer button {
    background: #FA5457;
    /* display: flex;
    position: absolute;
    flex-direction: column; */
    width: 674px;
    height: 65px;
    border-radius: 20px;
    color: #FFF;
    font-size: 3rem;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 7px grey;
    box-shadow: 0px 5px 7px grey;
    cursor: pointer;
}

.signUpBtnContainer button:hover {
    background: #FFF;
    width: 674px;
    height: 65px;
    border-radius: 20px;
    color: #FA5457;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.MuiFilledInput-underline:after {
    border-bottom: 2px solid #FA5457!important;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54)!important;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100vw;
    }
    .logInInput {
        width: 90%;
        margin-top: 29px !important;
        font-size: 28px !important;
    }
    .main header {
        width: 100vw;
        height: 70px;
        background: #75B1A9;
        margin: 0;
        -webkit-box-shadow: 0px 2px 4px grey;
        box-shadow: 0px 2px 4px grey;
    }
    .headerMain {
        width: 100vw;
        height: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    /* .headerNav {
        display: none;
    } */
    /* .logoPlaceholder {
        width: 100%;
        height: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    } */
    .logInTitle h1 {
        font-size: 5rem;
    }
    .logInTitle {
        /* width: 90%; */
        height: 50px;
        margin-top: 15px !important;
        margin-bottom: 0px;
    }
    .signUpBtnContainer {
        margin-top: 40px;
    }
    .signUpBtnContainer button {
        background: #FA5457;
        width: 80%;
        height: 65px;
        border-radius: 20px;
        color: #FFF;
        font-size: 3rem;
        font-weight: 600;
        -webkit-box-shadow: 0px 5px 7px grey;
        box-shadow: 0px 5px 7px grey;
        cursor: pointer;
    }
    .signUpBtnContainer button:hover {
        background: #FFF;
        width: 80%;
        height: 65px;
        border-radius: 20px;
        color: #FA5457;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
    }
    .childrenImage {
        width: 100%;
        position: relative;
        margin-right: 50px;
    }
    .loginPage {
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .ChildrenImage {
        width: 100%;
    }
    .form {
        display: block;
        transform: translateY(0);
    }
    .logo {
        float: right;
        font-size: 3em;
        /* padding: 0px 10px 20px; */
        text-decoration: none;
        height: 2.3em !important;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        width: 100vw;
    }
    .main header {
        width: 100vw;
        height: 70px;
        background: #75B1A9;
        margin: 0;
        -webkit-box-shadow: 0px 2px 4px grey;
        box-shadow: 0px 2px 4px grey;
    }
    .headerMain {
        width: 100%;
        height: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    /* .headerNav {
        display: none;
    } */
    /* .logoPlaceholder {
         width: 100%; 
        margin-left: 75%;
        height: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }  */
    .logInTitle h1 {
        font-size: 4rem;
    }
    .logInTitle {
        /* width: 46%; */
        height: 50px;
        margin-top: 15px !important;
        margin-bottom: 0px;
    }
    .signUpBtnContainer {
        margin-top: 40px;
        /* margin-bottom: 40px; */
    }
    .signUpBtnContainer button {
        background: #FA5457;
        width: 35%;
        height: 65px;
        border-radius: 20px;
        color: #FFF;
        font-size: 3rem;
        font-weight: 600;
        -webkit-box-shadow: 0px 5px 7px grey;
        box-shadow: 0px 5px 7px grey;
        cursor: pointer;
    }
    .signUpBtnContainer button:hover {
        background: #FFF;
        width: 35%;
        height: 65px;
        border-radius: 20px;
        color: #FA5457;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
    }
    .childrenImage {
        position: relative;
        align-self: center;
        height: auto;
        width: 40%;
    }
    .ChildrenImage {
        width: 80%;
    }
    .logo {
        float: right;
        font-size: 3em;
        /* padding: 0px 10px 20px; */
        text-decoration: none;
        height: 2.3em !important;
    }
}

.formMain {
    text-align: center;
}


/* .creareCont a:link {
    color: blue;
    text-decoration: none;
} */

.psw>a:link {
    color: blue;
    text-decoration: none;
}


/* .creareCont {
    margin-bottom: 9px;
    cursor: pointer;
    color: red;
} */

.creareCont>label {
    margin-top: 9px;
}

.row {
    padding: 2em;
}